@import url('https://fonts.googleapis.com/css?family=Young+Serif&display=swap');

body {
  font-family: 'Young Serif', serif;
  background-color: black;
  color: white;
  margin:0;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 0.5rem;
}

#logoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

#logo {
  width: 90vw;
  height: 90vh;
}

nav {
  display: flex;
  justify-content: space-around;
  height: 10%;
}

nav > a {
  font-size: 4em;
  color: white;
  text-decoration: none;

}