* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins, sans-serif';
}

body {
  background-color: black;
  color: white;
  margin: 0;
}

a {
  text-decoration: none;
  color: orange;
}

a:hover {
  color: white;
}

button {
  border: 2px solid white;
  color:white;
  border-radius: 5rem;
  background-color: rgb(0, 0, 0);
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  opacity: 50%;
  cursor: default;
}

/* Home page */
.emberContainer{
  z-index: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ember{
  position: relative;
  display: flex;
}

#spacer {
  width:35vw;
}

#space {
  width: 2.5vw;
}

.ember span{
  position: relative;
  width: 30px;
  height: 30px;
  background: white;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 10px 10px white;
  animation: float 15s linear infinite;
  animation-duration: calc(500s / var(--duration));
}

@keyframes float {
  0%{
    transform: translateX(0vw) translateY(calc(130vh - (1vh * var(--duration)))) scale(0);
    opacity: 0%;
  }
  25%{
    transform: translateX(calc(50vh / var(--duration))) translateY(calc(125vh - (1vh * var(--duration)))) scale(0.10);
    opacity: 35%;
  }
  100%{
    transform: translateX(calc(-50vh / var(--duration))) translateY(calc(110vh - (1vh * var(--duration)))) scale(0.3);
    opacity: 0%;
  }
}

#logoDiv {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

#logo {
  width: 90vw;
  height: 90vh;
}

/* Nav bar */
.navBar {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: black;
  border-bottom: solid 1px white;
  padding: 0.25em 3em 0.25em 1em;
  box-shadow: 0 0 1.5em white;
}

.navBar a {
  font-size: 1.5em;
  color:orange;
  text-decoration: none;
  display: flex;
}

#homeNav {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 10%;
}

#homeNav > a {
  font-size: 4em;
  color: white;
  text-decoration: none;
}

#loginNav {
  height: 10vh;
}

#loginNav img {
  margin: 1vh 0 0 1vw;
  height: 100%;
}

.icon {
  width: 1em;
  height: 1em;
}

/* Drop down menus */
.dropbtn {
  background-color: black;
  color: orange;
  font-size: 2em;
  border: none;
}

.dropDown {
  position: relative;
  display: inline-block;
}

.dropDownContent {
  display: none;
  position: absolute;
  top: 3vh;
  right: -2.33vw;
  background-color: black;
  min-width: 8vw;
  z-index: 1;
}

.dropDownContent a {
  border: solid 1px white;
  color: orange;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
}

.dropDownContent a:hover {background-color: #ddd;}

.dropDown:hover .dropDownContent {display: block;}

/* Login page */
.centerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
}

.wrapper {
  position: relative;
  width: 40vw;
  height: 60vh;
  border: 3px solid white;
  border-radius: 2em;
  background-color: black;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form-wrapper button {
  position: relative;
  width: 100%;
  height: 2em;
  background-color: orange;
  box-shadow: 0 0 15px white;
  font-size: 1.5em;
  color: white;
  border-radius: 30px;
}

.form-wrapper button:disabled {
  background-color: #824d08;
  color: #6e6d6b;
  box-shadow: none;
}

#loginText {
  font-size:3em;
  text-align: center;
}

.input-group {
  position: relative;
  margin: 3% 0;
  border-bottom: 2px solid white;
}

.input-group input {
  width: 30vw;
  height: 5vh;
  font-size: 1.5em;
  color: white;
  background: transparent;
  border: none;
  outline: none;
}

.input-group input::-webkit-input-placeholder {
  color: white;
}

.remember {
  margin: -5px 0px 15px 5px;
  display: flex;
  justify-content: space-between;
}

.remember label {
  color: white;
  font-size: 1em;
}

.remember label input {
  accent-color: orange;
}

.remember a {
  color: orange;
  text-decoration: none;
}

.remember a:hover {
  text-decoration: underline;
}

.signUp {
  font-size: 1em;
  text-align: center;
  margin: 15px 0;
}

.signUp p a {
  color: orange;
  text-decoration: none;
}

.signUp p a:hover {
  text-decoration: underline;
}

.errorWrap {
  display: flex;
  justify-content: center;
}

.successWrap {
  display: flex;
  justify-content: center;
}

/* Products */
#products {
  display: flex;
  flex-wrap: wrap;
}

.tagButton:hover {
  cursor: default;
}

.productContainer {
  padding: 0.25em;
  border: 1px solid white;
  margin: 2vh 1vw 0 1vw;
  width: calc(90vw/3);
  border-radius: 0.5em;
  box-shadow: 2px 2px 0.5em white;
}

.productContainer #productHeader{
  display: flex;
  justify-content: space-between;
}

.productContainer #productHeader img{
    width: 1.5em;
    height: 1.5em;
  }

.productContainer #productImage{
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  display: flex;
  justify-content: center;
}

.productContainer #productImage img {
  min-height: 25vh;
  max-width: 25vw;
  max-height: 25vh;
}

.productContainer #productFooter {
  display: flex;
  justify-content: space-between;
}

#searchBarContainer {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  width: 97vw;
}

#searchBarContainer input::placeholder {
  color: white;
}

#searchBarContainer input{
  width: 40vw;
  color: white;
  background-color: #6e6d6b;
  border-radius: 5rem;
  padding-left: 0.5rem;
  height: 2em;
}

#searchBarContainer button {
  height: 2em;
}

.searchBar {
  width: 80vw;
}

.deletePrompt {
  background-color: rgb(0, 0, 0, 0.6);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 97vh
}

.deletePrompt > div {
  padding: 1em;
  background-color: black;
  border-radius: 1em;
  border: solid 2px white;
}

.deletePrompt div div {
  margin-top: 1em;
  display: flex;
  justify-content: space-evenly;
}

.deletePrompt .deletePromptButton {
  padding: 0 .4em 0 .4em;
  font-size: 1.5em;
}

#deleteButton {
  border-color: red;
  color: red;
}

/* Edit page */
.editContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.editContainer .formContainer {
  margin-left: 4em;
  width: 50vw;
}

.editForm {
  display: flex;
  flex-direction: column;
}

.editForm input, .editForm button{
  display: flex;
  flex-direction: column;
}

.editForm input, .editForm input::placeholder {
  font-size: 1em;
  color: white;
  padding: 0.2em;
  background-color: black;
  border-bottom: 1px solid white;
  margin-bottom: 1em;
  width: 100%;
}

.editForm div {
  display: flex;
  justify-content: space-between;
}

.editForm button {
  padding: 0.4em;
  width: fit-content;
}

.editForm .toggleButtons {
  margin-bottom: 0.5em;
}

/* Single Product Page */
.singleProductContainer{
  padding: 3vh 0 0 4vh;
  display: flex;
  justify-content: space-evenly;
  width: 96vw;
}

.singleProduct {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 2em;
}

.singleProduct h1 {
  text-align: center;
  font-size: 4em;
}

.singleProduct img {
  width: auto;
  height: auto;
  max-height: 60vh;
  max-width: 40vw;
}

.singleProduct h2 {
  font-size: 2.5em;
}

.singleProduct p {
  font-size: 1.5em;
}

.reviews {
  padding: 1em;
  border: 1px solid white;
  height: 90vh;
  width: 60vw;
  white-space: nowrap; 
  overflow-y: scroll;
  text-wrap: wrap;
}

#rating {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0.5em;
}

#rating h1 {
  color: #ffde59;
  font-size: 1.5em;
}

#rating div {
  display: flex;
  width: fit-content;
}

#rating img{
  width: 1.75em;
  height: 1.75em;
}

/* Wishlist */
.wishList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wishList .noListDiv {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wishList h1 {
  font-size: 4em;
  text-align: center;
}

.wishList h2{
  font-size: 2.5em; 
}

.wishList img {
  height: 75vh;
}

.wishList table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}

.wishList th, td {
  font-size: 3em;
  padding: 0.2em
}

.wishList #productInfo {
  display: flex;
  align-items: center;
}

.wishList button {
  width: 4em;
  height: 2em;
  font-size: 0.5em;
  padding: 0.2em;
}